<link rel="stylesheet" href="../../static/shop/style.css">{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<div class="header">
    <h1>Hurtownia części elektronicznych</h1>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1 index-left">
          <p class="lead">Zaloguj się i składaj zamówienia w największej hurtowni elektroniki w Polsce online!</p>
      </div>
      <div class="col-lg-5 order-1 order-lg-2">
          <form>
              <div class="form-row">
                  <div class="form-group col-lg-5 index-right">
                      <h5>LOGOWANIE</h5>
                      <input type="text" class="form-control" placeholder="Login">
                      <input type="password" class="form-control" placeholder="Hasło">
                      <button type="submit" class="btn btn-primary mb-2">Zaloguj się</button>
                  </div>
              </div>
          </form>
      </div>
    </div>

    <div class="row">
        <div class="col-6 col-lg-4 eiti-logo">
            <img src="static/shop/eiti.jpg" class="img-fluid" alt="Responsive">
        </div>
    </div>
</div>

<div class="footer">

</div>