<link rel="stylesheet" href="../../static/shop/style.css">{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script>
    $(document).ready(function(){
        var date_input=$('input[name="data_urodzenia"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>

<div class="header">
    <h1>Hurtownia części elektronicznych</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <div class="collapse navbar-collapse" id="navvbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/hurtownia/">Dane hurtowni <span class="sr-only">(current)</span></a>
      </li>
      {% if user.username == "manager" %}
      <li class="nav-item">
        <a class="nav-link" href="/magazines/">Magazyny</a>
      </li>
      {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="/workers/">Pracownicy</a>
      </li>
      {% if user.username == "manager" %}
      <li class="nav-item">
        <a class="nav-link" href="/goods/">Towary</a>
      </li>
      {% endif %}
      <li class="nav-item disabled">
          <p class="nav-item nav-link disabled">Zalogowany jako: {{request.user.username}}</p>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/logout/">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Informacje</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'salaries' pracownik.id_pracownika %}">Wynagrodzenia</a>
  </li>
</ul>

<div class="container-fluid" style="margin-bottom:3rem;">
  <form action="{% url 'update_worker' pracownik.id_pracownika %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="imie">Imię<span style="color:red">*</span></label>
      <input id="imie" class="form-control" type="text" name="imie" value="{{pracownik.imie}}">
    </div>
    <div class="form-group">
      <label for="nazwisko">Nazwisko<span style="color:red">*</span></label>
      <input id="nazwisko" class="form-control" type="text" name="nazwisko" value="{{pracownik.nazwisko}}">
    </div>
    <div class="form-group">
        <label class="control-label" for="data_urodzenia">Data urodzenia<span style="color:red">*</span></label>
        <input class="form-control" id="data_urodzenia" name="data_urodzenia" placeholder="MM/DD/YYYY" type="text" value="{{pracownik.data_urodzenia|date:"m/d/Y"}}"/>
    </div>
    <div class="form-group">
        <label class="control-label" for="data_zatrudnienia">Data zatrudnienia</label>
        <input class="form-control" id="data_zatrudnienia" name="data_zatrudnienia" type="text" value="{{pracownik.data_zatrudniena}}" disabled/>
    </div>
    <div class="form-group">
      <label for="miejscowosc">Miejscowość<span style="color:red">*</span></label>
      <input id="miejscowosc" class="form-control" type="text" name="miejscowosc" value="{{pracownik.miejscowosc}}">
    </div>
    <div class="form-group">
    <div class="form-group">
      <label for="ulica">Ulica</label>
      <input id="ulica" class="form-control" type="text" name="ulica" value="{{pracownik.ulica}}">
    </div>
      <label for="nr_budynku">Numer budynku<span style="color:red">*</span></label>
      <input id="nr_budynku" class="form-control" type="text" name="nr_budynku" value="{{pracownik.nr_budynku}}">
    </div>
    <div class="form-group">
      <label for="nr_lokalu">Numer lokalu</label>
      <input id="nr_lokalu" class="form-control" type="text" name="nr_lokalu" value="{{pracownik.nr_lokalu}}">
    </div>
    <div class="form-group">
      <label for="kod_pocztowy">Kod pocztowy<span style="color:red">*</span></label>
      <input id="kod_pocztowy" class="form-control" type="text" name="kod_pocztowy" value="{{poczta.kod_pocztowy}}">
    </div>
    <div class="form-group">
      <label for="pesel">PESEL</label>
      <input id="pesel" class="form-control" type="text" name="pesel" value="{{pracownik.pesel}}">
    </div>
    <div class="form-group">
      <label for="adres_e_mail">E-mail<span style="color:red">*</span></label>
      <input id="adres_e_mail" class="form-control" type="email" name="adres_e_mail" value="{{pracownik.adres_e_mail}}">
    </div>
    <div class="form-group">
      <label for="nr_telefonu">Numer telefonu<span style="color:red">*</span></label>
      <input id="nr_telefonu" class="form-control" type="text" name="nr_telefonu" value="{{pracownik.nr_telefonu}}">
    </div>
    <div class="form-group">
      <label for="stanowisko">Stanowisko<span style="color:red">*</span></label>
      <select id="stanowisko" class="form-control" name="stanowisko">
        {% if pracownik.stanowisko == "Ksiegowosc" %}
        <option selected>Ksiegowosc</option>
        {% else %}
        <option>Ksiegowosc</option>
        {% endif %}
        {% if pracownik.stanowisko == "Obsluga magazynu" %}
        <option selected>Obsluga magazynu</option>
        {% else %}
        <option>Obsluga magazynu</option>
        {% endif %}
        {% if pracownik.stanowisko == "Realizacja zamowien" %}
        <option selected>Realizacja zamowien</option>
        {% else %}
        <option>Realizacja zamowien</option>
        {% endif %}
        {% if pracownik.stanowisko == "Zarzadzanie magazynem" %}
        <option selected>Zarzadzanie magazynem</option>
        {% else %}
        <option>Zarzadzanie magazynem</option>
        {% endif %}
        {% if pracownik.stanowisko == "HR" %}
        <option selected>HR</option>
        {% else %}
        <option>HR</option>
        {% endif %}
        {% if pracownik.stanowisko == "Zarzad" %}
        <option selected>Zarzad</option>
        {% else %}
        <option>Zarzad</option>
        {% endif %}
      </select>
    </div>
    <a href="/workers/"><button type="button" class="btn btn-secondary">Wróc</button></a>
    <a href="{% url 'delete_worker' pracownik.id_pracownika %}"><button type="button" class="btn btn-danger">Usuń</button></a>
    <input type="submit" class="btn btn-primary" value="Zmień">
  </form>
</div>

<div class="footer">

</div>